/Semana01/Demo01/target/
/Semana02_31MAR26/Work/target/
/Semana02_31MAR26/Demo01/target/
/Semana02_31MAR26/PromedioApp/target/
/Semana01_30MAR26/Demo01/target/
/Semana04_13ABR26/AprendiendoJava/target/
/Semana04_13ABR26/GestionContactos/target/
